/* body{
    background-color: #D9F8C4;
} */
/* div{
    background-color: aqua;
} */
.hello{
  line-height: 2;
  width: 30%;
  margin: auto;
}
.contact{
  line-height: 2;
  width: 30%;
  margin: 40px auto 60px auto;
}
hr{
  border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 4%;
    margin-top: 100px;
    margin-bottom: 100px;

}
.top {
  background-color:#EAF6F6;
  /* height: 200px;
    width: 200px;
    border: solid 10px;
    margin: 10px; */
  position: relative;
  padding-top: 100px;
}

.middle {
  background-color: red;
  /* height: 200px;
    width: 200px; */
}

.bottom {
  background-color: blue;
  /* height: 200px;
    width: 200px; */
}

h1 {
  color: #66BFBF;
  /* margin-top: 50px; */
  margin: 50px auto 0 auto;
  /* font-size: 90px; */
  /* font-size: 562.5%;1em= 16px=100% (90px/16=562.5% for 90%) */
  font-size: 5.625rem;
  /* width: 10%;*/
  font-family: 'Sacramento', cursive;
  /* margin:auto; */
  /*margin:0 auto 0 auto; */
  /* top right bottom left */
}
p{
  line-height: 2;

}
h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;

}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;


}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;

}
.footer-link:hover{
  color:#EAF6F6;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.middle-container{
  padding :100px 0;
}

.computer {
  width: 25%;
  float: right;
  margin-left: 30px;
 
}

.skill-computer {
  width: 25%;
  float: left;
  margin-right: 30px;
 

}
.copyright{
  color:#EAF6F6;
  /* margin-bottom:0 ; */
  size: 5px;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn{
   background-color: #66BFBF;
    margin: 10px;
    /* position: relative; */
    bottom:30px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px;
}
.footer-link{
  padding: 20px;
}
/* .CP{
  clear: left;
}
.WD{
  clear : right;
} */

/* .CP{ */
/* text-align: left; */
/* position: relative;
  left: 20px;

} */
/*.WD{
  text-align: left;
} */

/* h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body {
    display: block;
    margin: 0px;
} */
.pro {
  text-decoration: underline;
}

/* p{
    background-color:red;
    width:100px;
    display:inline-block;
  }
  span{
    background-color:blue;
    display:block;
    width:100px;
    
  } */

/* p{
    background-color:red;
    width:100px;
    display:inline-block;
  }
  span{
    background-color:blue;
  /*   display:block; */
/* width:100px;
    
  }
  .second{
    visibility:hidden;
  }
  .second{
    display:none;
  } */
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
  ;
}

/* .yo{
    size: 20px;
  } */
/* .img{
    size: 25px;
  } */
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
    text-decoration: none;
  }